<div class="centered-form">
<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="unit[property_id]" value="<%= params[:id] %>">
  <input type="hidden" name="unit[occupied]" value="false">


  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :floor %><br>
    <%= f.text_field :floor, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :rent %><br>
    <%= f.number_field :rent, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lease_start %><br>
    <%= f.date_select :lease_start, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :lease_end %><br>
    <%= f.date_select :lease_end, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bedrooms %><br>
    <%= f.text_field :bedrooms, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bathrooms %><br>
    <%= f.text_field :bathrooms, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :washer_dryer %><br>
    <%= f.select(:washer_dryer) do %>
      <% [['In unit','In unit'], ['In building','In building'], ['None','None']].each do |o| - %>
        <%= content_tag(:option, o.first, value: o.last, class: 'form-control') %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :parking %><br>
    <%= f.select(:parking) do %>
      <% [['One space included','One space included'], ['Two spaces included','Two spaces included'], ['Street','Street']].each do |o| - %>
        <%= content_tag(:option, o.first, value: o.last, class: 'form-control') %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :utilities %><br>
    <%= f.select(:utilities) do %>
      <% [['Water included','Water included'], ['Gas included','Gas included'], ['Electricity included','Electricity included'], ['Water and gas included','Water and gas included'], ['Water and electricity included','Water and electricity included'],['Gas and electricity included','Gas and electricity included'],['Water, gas, and electricity included','Water, gas, and electricity included']].each do |o| - %>
        <%= content_tag(:option, o.first, value: o.last, class: 'form-control') %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <label>Furnished?</label>
    <br>
    <input type="hidden" name="unit[furnished]" value="false">
    <label class="switch">
    <input class="form-control" type="checkbox" name="unit[furnished]" value="true"
    <% if @unit.furnished == true %>
    checked
    <% end %>
    >
    <div class="slider round"></div>
  </div>
  </label>
  <div class="form-group">
    <%= f.label :sq_feet %><br>
    <%= f.number_field :sq_feet, :class => 'form-control' %>
  </div>
  <div id="lease_img" class="form-group">
    <%= f.label 'Upload lease image' %><br>
    <%= f.file_field :lease_img, :class => 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default label-main btn-block' %>
  </div>
<% end %>
</div>
