<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rent %><br>
    <%= f.number_field :rent %>
  </div>
  <div class="field">
    <%= f.label :occupied %><br>
    <%= f.check_box :occupied %>
  </div>
  <div class="field">
    <%= f.label :lease_end %><br>
    <%= f.date_select :lease_end %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br>
    <%= f.text_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br>
    <%= f.text_field :bathrooms %>
  </div>
  <div class="field">
    <%= f.label :washer_dryer %><br>
    <%= f.text_field :washer_dryer %>
  </div>
  <div class="field">
    <%= f.label :parking %><br>
    <%= f.text_field :parking %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.text_field :floor %>
  </div>
  <div class="field">
    <%= f.label :utilities %><br>
    <%= f.text_field :utilities %>
  </div>
  <div class="field">
    <%= f.label :furnished %><br>
    <%= f.check_box :furnished %>
  </div>
  <div class="field">
    <%= f.label :sq_feet %><br>
    <%= f.text_field :sq_feet %>
  </div>
  <div class="actions">
    <%= f.submit "Update Unit", :class => 'btn btn-default label-main' %>
  </div>
<% end %>
