<% content_for :title, 'Add Tenant' %>

<% content_for :main_content do %>
<hr>
<h1 class="page_heading">
	Add Tenant
	<br>
	<span class="small"><%= @unit.property.street %> <%= @unit.name %></span>
</h1>

<hr>
<div class="row">
  <h4 class="sub_heading">Tenants</h4>
  <table class="table table-striped">
  	<tr>
  		<th>Name</th>
  		<th>Email</th>
  		<th>Bio</th>
  		<th>Actions</th>
  	</tr>
  	<% @all_tenants.each do |t| %>
  	<tr>
  		<td><%= t.first_name %> <%= t.last_name %></td>
  		<td><%= t.email %></td>
  		<td><%= t.bio %></td>
  		<td>
  			<a class="btn btn-default" href="/units/<%= @unit.id %>/add_tenant/<%= t.id %>">Add to <%= @unit.name %></a>
  		</td>
  	</tr>
  	<% end %>
  </table>	
</div> <!-- .row -->

<% end %>