<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Mobile Navigation ('just in case' CDNs) -->
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans:300,600" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
	<div id="home" class="row">

	<!-- Mobile Navigation -->
    <!-- Appears only when screen size is 'xs' -->
    <nav class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div id="mobile_logo">
	          <a class="navbar-brand" href="index.html">
	          	<img src="<%= image_path('house-roof-yellow.png', alt: 'roof logo')  %>">
	          </a>
	        </div>
      </div> <!-- end .navbar-header -->

      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
              	<a href="/login/sign_in">Sign In</a>
              </li>
              <li>
                  <a href="/logout">Logout</a>
              </li>
          </ul>
      </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav> <!-- end Mobile Navigation -->
		<div class="side_nav col-sm-2 hidden-xs">
			<!-- LEFT NAV -->

			<div class="row">
				<!-- Logo -->
				<a id="logo" href="<%= root_path %>">
					<img src="<%= image_path('house-roof-yellow.png', alt: 'roof logo') %>">
					<h1>Dwell</h1>
				</a>
			</div> <!-- .row -->
			<div class="row">
				<nav>
					<ul class="list-unstyled">
						<label class="text-muted">For Landlords</label>
						<li><a href="#">Collect Rent Online</a></li>
						<li><a href="#">Tenant Screening</a></li>
						<li><a href="#">Property Listings</a></li>
						<li><a href="#">Rental Applications</a></li>
						<li><a href="#">Rent Estimates</a></li>
					</ul>
					<ul class="list-unstyled">
						<label class="text-muted">For Renters</label>
						<li><a href="#">Renter Profile</a></li>
						<li><a href="#">Pay Rent Online</a></li>
					</ul>
					<ul class="list-unstyled">
						<label class="text-muted">Get Dwell</label>
						<li><a href="#">How Dwell Works</a></li>
						<li><a href="#">Customer Love</a></li>
						<li><a href="#">Features &amp; Pricing</a></li>
					</ul>
				</nav>
			</div> <!-- .row -->

					</div>
		<div class="main_content col-sm-10 col-sm-offset-2">
			<%= yield :main_content %>
		</div>
	</div>
</div>
<%= yield %>
</body>
</html>