<!DOCTYPE html>
<html>
<head>
  <title>Dwell | <%= yield :title %></title>
  <link rel="shortcut icon" href="<%= image_path('generic-home-teal.png') %>" type="image/x-icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans:300,400,600|Rubik:300,400,700|Biryani:300,400,700" rel="stylesheet">
  
</head>
<body>
<div class="container-fluid">
	<!-- CURRENT USER -->
	<% if session[:user_id] %>
		<a id="btn_logout" class="btn btn-default label-main pull-right" href="/logout">Log Out</a>
	<% end %>
	<header class="row">
			
	</header>
	
	<!-- Everything under the header (left_nav and main_content) -->
	<div class="row"> 
		<div class="side_nav col-sm-2">
			<!-- Logo -->
					<a id="logo" href="<%= root_path %>">
						<img src="<%= image_path('house-roof-yellow.png') %>">
						<h1>Dwell</h1>
					</a>
		
			<!-- LEFT NAV -->
			<div class="row">
				<nav>
					<!-- Dashboard -->
					<ul class="list-unstyled">
						<% if session[:user_type] == 'landlord' %>
						<li>
							<img src="<%= image_path('speedometer.png') %>" alt='dashboard'>
							<a href="/landlords/dashboard">
								Dashboard
							</a>
						</li>
					</ul>

					<!-- My Properties -->
					<ul class="list-unstyled">
						<label class="text-muted">My Properties</label>
							<% current_user.properties.each do |p| %>
								<li>
									<a href="/properties/<%= p.id %>">
										<%= p.street %>	
									</a>
								</li>
							<% end %>

						<% else %>
						<li>
							<img src="<%= image_path('speedometer.png') %>" alt='dashboard'>
							<a href="/tenants/dashboard">Dashboard</a>
						</li>
						<% end %>
					</ul>

					<% if session[:user_type] == 'landlord' %>
					<!-- My Tenants -->
					<ul class="list-unstyled">
						<label class="text-muted">My Tenants</label>
						<% current_user.tenants.each do |t| %>
						<li>
							<a href="/tenants/<%= t.id %>"><%= t.first_name %> <%= t.last_name %></a>
						</li>
						<% end %>
					</ul>
					<% end %>

					<% if session[:user_type] == 'tenant' %>
						<!-- My Accounts -->
						<ul class="list-unstyled">
							<label class="text-muted">My Unit</label>
							<% if current_user.unit_id %>
							<li>
								<a href="/units/<%= current_user.unit_id %>"><%= current_user.unit.property.street %> <%= current_user.unit.name %></a>
							</li>
								<% if !current_user.unit.lease_img.file.nil? %>
								<li>
									<a href="/units/<%= current_user.unit_id %>/lease">View Lease</a>
								</li>
								<% end %>
							<li>
								<a href="/issues/new">New Issue</a>
							</li>
							<% end %>
						</ul>
					<% end %>

					<!-- My Accounts -->
					<ul class="list-unstyled">
						<label class="text-muted">My Accounts</label>
						<% current_user.accounts.each do |a| %>
						<li>
							<a href="/accounts/<%= a.id %>/edit"><%= a.name %></a>
						</li>
						<% end %>
					</ul>

					<!-- Logout -->
					<ul class="list-unstyled">
						<li>
						<img src="<%= image_path('logout.png') %>" alt="logout">
							<a href="/logout">Logout</a>
						</li>
					</ul>
				</nav>
			</div> <!-- .row -->
		</div> <!-- .side_nav -->

		<!-- MAIN CONTENT -->
		<div class="col-sm-10 col-sm-offset-2">
			<!-- FLASH MESSAGES -->
			<div id="flash_messages">
			<% if flash[:success] or flash[:warning] or flash[:main] %>
				<% flash.each do |type,msg| %>
					<% msg.each do |i| %>
					<h4><span class="flash label label-<%= type %>"><%= i %></span></h4>
					<% end %>
				<% end %>
			<% end %>
			</div>

			<%= yield :main_content %>
		</div>
	</div> <!-- .row -->
</div> <!-- .container-fluid -->
</body>
</html>