<!DOCTYPE html>
<html>
<head>
  <title>Dwell | <%= yield :title %></title>
  <meta name="viewport" content="initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="<%= image_path('generic-home-teal.png') %>" type="image/x-icon" alt="home icon" />

  <!-- Mobile Navigation ('just in case' CDNs) -->
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bubbler+One%7COpen+Sans:300,400,600" rel="stylesheet">
  
</head>
<body>
<div class="container-fluid">
	<!-- CURRENT USER -->
	<% if session[:user_id] %>
		<a id="btn_logout" class="btn btn-default label-main pull-right hidden-xs" href="/logout">Log Out</a>
	<% end %>
	<header class="row">
	<!-- Mobile Navigation -->
    <!-- Appears only when screen size is 'xs' -->
    <nav class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div id="mobile_logo">
	          <a class="navbar-brand" href="index.html">
	          	<img src="<%= image_path('house-roof-yellow.png') %>" alt="roof logo">
	          </a>
	        </div>
      </div> <!-- end .navbar-header -->

      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
              	<% if session[:user_type] == 'landlord' %>
                  <a href="/landlords/dashboard">Dashboard</a>
                <% else %>
                  <a href="/tenants/dashboard">Dashboard</a>
                <% end %>
              </li>
              <li>
                  <a href="/logout">Logout</a>
              </li>
          </ul>
      </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
   </nav> <!-- end Mobile Navigation -->
	</header>
	
	<!-- Everything under the header (left_nav and main_content) -->
	<div class="row"> 
		<div class="side_nav col-sm-2 hidden-xs">
			<!-- Logo -->
					<a id="logo" href="<%= root_path %>">
						<img src="<%= image_path('house-roof-yellow.png') %>" alt="roof logo">
						<h1>Dwell</h1>
					</a>
		
			<!-- LEFT NAV -->
			<div class="row">
				<nav>
					<!-- Dashboard -->
					<ul class="list-unstyled">
						<% if session[:user_type] == 'landlord' %>
						<li>
							<img src="<%= image_path('speedometer.png' %>" alt='dashboard'>
							<a href="/landlords/dashboard">
								Dashboard
							</a>
						</li>
					</ul>

					<!-- My Properties -->
					<ul class="list-unstyled">
						<label class="text-muted">My Properties</label>
							<% current_user.properties.each do |p| %>
								<li>
									<a href="/properties/<%= p.id %>">
										<%= p.street %>	
									</a>
								</li>
							<% end %>

						<% else %>
						<li>
							<img src="<%= image_path('speedometer.png') %>" alt='dashboard'>
							<a href="/tenants/dashboard">Dashboard</a>
						</li>
						<% end %>
					</ul>

					<% if session[:user_type] == 'landlord' %>
					<!-- My Tenants -->
					<ul class="list-unstyled">
						<label class="text-muted">My Tenants</label>
						<% current_user.tenants.each do |t| %>
						<li>
							<a href="/tenants/<%= t.id %>"><%= t.first_name %> <%= t.last_name %></a>
						</li>
						<% end %>
					</ul>
					<% end %>

					<% if session[:user_type] == 'tenant' %>
						<!-- My Accounts -->
						<ul class="list-unstyled">
							<label class="text-muted">My Unit</label>
							<% if current_user.unit_id %>
							<li>
								<a href="/units/<%= current_user.unit_id %>"><%= current_user.unit.property.street %> <%= current_user.unit.name %></a>
							</li>
								<% if !current_user.unit.lease_img.file.nil? %>
								<li>
									<a href="/units/<%= current_user.unit_id %>/lease">View Lease</a>
								</li>
								<% end %>
							<li>
								<a href="/issues/new">New Issue</a>
							</li>
							<% end %>
						</ul>
					<% end %>

					<!-- My Accounts -->
					<ul class="list-unstyled">
						<label class="text-muted">My Accounts</label>
						<% current_user.accounts.each do |a| %>
						<li>
							<a href="/accounts/<%= a.id %>/edit"><%= a.name %></a>
						</li>
						<% end %>
					</ul>

					<!-- Logout -->
					<ul class="list-unstyled">
						<li>
						<img src="<%= image_path('logout.png') %>" alt="logout">
							<a href="/logout">Logout</a>
						</li>
					</ul>
				</nav>
			</div> <!-- .row -->
		</div> <!-- .side_nav -->

		<!-- MAIN CONTENT -->
		<div class="col-sm-10 col-sm-offset-2">
			<!-- FLASH MESSAGES -->
			<div id="flash_messages">
			<% if flash[:success] or flash[:warning] or flash[:main] %>
				<% flash.each do |type,msg| %>
					<% msg.each do |i| %>
					<h4><span class="flash label label-<%= type %>"><%= i %></span></h4>
					<% end %>
				<% end %>
			<% end %>
			</div>

			<%= yield :main_content %>
		</div>
	</div> <!-- .row -->
</div> <!-- .container-fluid -->
</body>
</html>